body {
  background: #929292;
  font-family: "Yanone Kaffeesatz";
  margin: auto;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  width: 1280px;
}

a {
  color: steelblue;
}

a:not(:hover) {
  text-decoration: none;
}

.stack {
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0,0,0,.5);
  display: none;
  font-size: 36px;
  height: 640px;
  line-height: 1.5em;
  margin-bottom: 40px;
  padding: 40px;
  width: 1200px;
  -webkit-transform: translate3d(0,0,0);
}

.active {
  display: block;
  position: fixed;
}

h1 {
  font-size: 72px;
  margin-top: 0;
}

h1.double {
  top: 80px;
}

.big h1 {
  margin-top: 200px;
  font-size: 100px;
  line-height: 1.0em;
}

.blue,
.html .tag,
.css .tag,
.javascript .keyword {
  color: #6baed6;
}

.orange,
.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #fd8d3c;
}

.green,
.html .doctype,
.javascript .number {
  color: #74c476;
}


@media
screen and (-webkit-min-device-pixel-ratio: 2),
screen and (min-device-width: 768px) and (max-device-width: 1024px),
screen and (max-device-width: 480px) {
  body {
    margin: 40px auto 40px auto;
  }

  .stack {
    display: block;
  }
}
